<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
        <%=title%>
    </title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/typeahead.js/dist/typeahead.bundle.js"></script>
    <!-- endbower -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/chart.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- endinject -->
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <% for(var k=0; k<nav.length; k++){ %>
                    <li>
                        <a href="<%=nav[k].link%>">
                            <%=nav[k].text%>
                        </a>
                    </li>
                    <% } %>
            </ul>
        </div>
    </nav>
    <div class="container-full">

        <div class="row">

            <div class="col-lg-12 text-center v-result">

                <h1>Search Results</h1>
                <p class="lead">
                    <% if (rows == null) { %>
                        No results found.
                        <% } else { %>
                            <%=param1%> and
                                <%=param2%>
                                    <% } %>
                </p>
                <div class="container graph"></div>
                <script>
                    // TODO: choose suitable width based on data
                    var margin = {
                            top: 20,
                            right: 20,
                            bottom: 80,
                            left: 40
                        },
                        width = 660 - margin.left - margin.right,
                        height = 500 - margin.top - margin.bottom;
                    var x = d3.scale.ordinal()
                        .rangeRoundBands([0, width], .1);
                    var y = d3.scale.linear()
                        .range([height, 0]);
                    var xAxis = d3.svg.axis()
                        .scale(x)
                        .orient("bottom");
                    var yAxis = d3.svg.axis()
                        .scale(y)
                        .orient("left");
                    //.ticks(10, "%");
                    var svg = d3.select("body").select("div.container-full").select("div.row").select("div.graph").append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
                    var data = <%-JSON.stringify(rows)%>;

                    x.domain(data.map(function (d) {
                        return d.TopMatch;
                    }));

                    // TODO: choose a suitable min for y-domain
                    // currently set as min - .3 * range
                    var max = d3.max(data, function (d) {
                        return d.Score;
                    });
                    var min = d3.min(data, function (d) {
                        return d.Score;
                    });
                    var range = max - min;
                    y.domain([min - (range * .3), max]);
                    svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis)
                        // TODO: make x labels that fit/look nice
                        // eg. use d3-tip to add tooltips with more info: full name, // references, etc.
                        // currently labels get cut off if names are too long
                        .selectAll("text")
                        .attr("transform", "rotate(-25)")
                        .style("text-anchor", "end");
                    svg.append("g")
                        .attr("class", "y axis")
                        // translates y-axis 10px to the left so that it doesn't
                        // overlap with first bar.
                        // TODO: come up with a better graph design
                        //.attr("transform", "translate(-10, 0)")
                        .call(yAxis)
                        .append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 6)
                        .attr("dy", ".71em")
                        .style("text-anchor", "end")
                        .text("Score");
                    svg.selectAll(".bar")
                        .data(data)
                        .enter().append("rect")
                        .attr("class", "bar")
                        .attr("x", function (d) {
                            return x(d.TopMatch);
                        })
                        .attr("id", function (d) {
                            return 'p' + d.ID;
                            // p for pair since id names can't start with numbers
                        })
                        .attr("width", x.rangeBand())
                        .attr("y", function (d) {
                            return y(d.Score);
                        })
                        .attr("height", function (d) {
                            return height - y(d.Score);
                        });
                    svg.select("#p<%-id%>")
                        .style("fill", "deepskyblue");

                    function type(d) {
                        d.Score = +d.Score;
                        return d;
                    }

                    $(".bar").click(function () {
                        var id = this.id.substring(1);
                        var pair = data.filter(function(n) {
                            return n.ID == id;
                        });

                        $.ajax({
                            //doesn't work for all entries
                            url: "https://en.wikipedia.org/w/api.php?action=query&format=json&prop=extracts&exintro&explaintext&titles=" + pair[0].TopMatch + "&redirects",
                            data: {
                                format: "json"
                            },
                            type: "get",
                            error: function (){
                                console.log("wiki error");
                            },
                            dataType: "jsonp",
                            success: function (data) {
                                data = data.query.pages;
                                var page = Object.keys(data)[0];
                                data = data[page].extract;
                                $("#wiki").html(data);
                            }
                        })
                    });

                    
                </script>
            </div>
            <!-- /row -->

            <div class="row">

                <div class="col-md-6 center-block text-center" style="font-size:13pt;">
                    <p id="wiki">
                        <%=wiki%>
                    </p>
                </div>

            </div>

            <br>
            <br>
            <br>
            <br>
            <br>

        </div>
    </div>
    <!-- /container full -->

    <div class="container">

        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Hello.</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Hello.</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Hello.</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <br>
                <br>
                <p class="pull-right"><a href="http://www.bootply.com">Template from Bootply</a> &nbsp; ©Copyright 2013 ACME<sup>TM</sup> Brand.</p>
                <br>
                <br>
            </div>
        </div>
    </div>


    <!-- script references -->
</body>

</html>